{% block nav %}

<div class="header__menu menu">
    <nav class="menu__block">
        <ul class="link">
            <li><a href="">lifestyle</a> </li>
        </ul>
        <ul class="link">
            <li><a href="">photodiary</a> </li>
        </ul>
        <ul class="link">
            <li><a href="/about">About</a> </li>
        </ul>
        <ul class="link">
            <li><a href="">travel</a> </li>
        </ul>
    </nav>
</div>

{% endblock %}