
{% block SignUp %}

<div class="block__subscription">
    <div class="subscription __container2">
        <div class="subscription__title">
            <h2 class="title title-anotherColor">
                Sign up for our newsletter!
            </h2>
        </div>
        <div class="subscription__email">
            <input type="text" placeholder="Enter a valid email address">
            <div class="email__images">
                <a href="#" class="img-link">
                    <img src="img/email/email.png" alt="Отправить">
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock %}