{% extends 'base.twig' %}

{% block body %}
    <main class="main">
        <div class="main__block_one __container" style="font-size: 25px">
            <form action="/admin/update/{{ post.id }}" method="post" enctype="multipart/form-data">
                <div>
                    <label for="title">Title: </label>
                    <input style="border: black 1px solid" type="text" id="title" name="title" value="{{ post.title }}">
                </div>
                <div>
                    <label for="text">Text: </label>
                    <textarea style="border: black 1px solid" name="text" id="text" cols="40"
                              rows="10">{{ post.text }}</textarea>
                </div>

                <div>
                    <label for="img">Image: </label>
                    <input type="file" name="image" id="img" value="../../img/cards/{{ post.image }}">
                </div>
                <input style="padding: 10px 40px; border: black 1px solid" type="submit" value="Обновить">
            </form>
            <div style="margin-top: 20px; font-size: 20px">
                <a href="/admin/story">Назад</a>
            </div>
        </div>
    </main>
{% endblock %}