{% extends 'base.twig' %}

{% block body %}
    <main class="main">
        <div class="main__block_one __container">
            <h1 class="title"> Hello, {{ name }} Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, aliquid aspernatur atque consequatur cum cumque deserunt dolorem dolores, eligendi error, est eum incidunt laboriosam nostrum rerum unde ut voluptas voluptatem!!</h1>
        </div>
    </main>

{% endblock %}