{% extends 'base.twig' %}

{% block body %}
    <main class="main">
        <div class="main__block_one __container">
            {% include 'section/card.twig' %}
        </div>
    </main>
{% endblock %}